[submodule "openFrameworks"]
	path = openFrameworks
	url = https://github.com/openframeworks/openFrameworks.git
	branch = stable
	ignore = all
[submodule "addons/ofxConvexHull"]
	path = addons/ofxConvexHull
	url = https://github.com/genekogan/ofxConvexHull.git
